/* for small devices  */
@media screen and (max-width:576px) {

    /* shared styles  */
    .title {
        font-size: 1.5625rem;
    }

    /* header section starts here  */
    header {
        padding: 20px;
        padding-top: 50px;
    }

    header nav ul,
    nav button {
        display: none;
    }

    header .icon {
        display: block;
    }

    .hero {
        flex-direction: column;
    }

    .hero h2 {
        font-size: 2.25rem;
    }

    .hero img {
        width: 100%;
        margin-top: 50px;
    }

    /* feature section starts here  */

    .feature .image-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
    }

    .feature .image-container img {
        width: 90%;
    }

    /* news section starts here  */
    .review .box,
    .news-container {
        grid-template-columns: repeat(1, 1fr);
    }

    /* frequently asked question section starts here  */
    .faq .container {
        flex-direction: column;
    }

    /* footer area starts here  */
    footer {
        padding: 20px;
    }

    footer .footer {
        flex-direction: column;
        align-items: start;
        gap: 60px;

    }

    footer .app img {
        height: 70px;
    }

    .footer .small-device {
        display: block;
        align-self: center;
    }

    .footer .large-device {
        display: none;
    }



}


/* for medium devices  */
@media screen and (min-width:576px) and (max-width:992px) {

    /* shared styles  */
    .title {
        font-size: 2.5rem;
    }


    /* header section starts here  */
    header {
        padding: 50px;
    }

    .hero {
        flex-direction: column;
    }

    .hero .text {
        max-width: 800px;
    }

    .hero h5 {
        max-width: 800px;
    }

    /* feature section starts here  */

    .feature .image-container {
        gap: 40px;
        margin: 50px 30px;
    }

    /* news section starts here  */
    .review .box,
    .news-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .double-span {
        grid-column: span 2;
    }

    /* frequently asked question section starts here  */
    .faq .container {
        flex-direction: column;
    }

    /* footer area starts here  */

    footer .app img {
        height: 70px;
    }


}

/* for extra medium devices  */

@media screen and (min-width:992px) and (max-width:1250px) {

    /* header section starts here  */
    header {
        padding: 50px;
    }

    /* feature section starts here  */
    .feature .image-container {
        gap: 40px;
        margin: 40px;
    }
}